body {
    font-family: 'roboto', 'raleway' sans-serif;
    color: #434455;
    font-size: 16px;
    background-color: #FFFFFF;

}

.logo {
    font-size: 24px;
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo span {
    color: #2e2f42;
}

ul,
ol {
    list-style-type: none;
}

.link-studio {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.adress-info {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

a {
    text-decoration: none;
    color: #2E2F42;
}

header a:hover,
header a:focus {
    color: #404BBF;
}

h1 {
    font-size: 56px;

}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 12px;
}

.top-banner {
    background-color: #2E2F42;
    color: white;
    padding: 188px 472px;
    text-align: center;
}

.button-order {
    background-color: #4D5AE5;
    color: white;
    padding: 16px 32px;
    border-radius: 10px;
}

.fotter-style {
    background-color: #2E2F42;
    color: white;
    align-items: center;
}

.logo-footer {
    color: white;
    font-size: 24px;


}

.logo-footer span {
    color: #4D5AE5;
}



button:hover {
    background-color: #404BBF;
}